<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>checkout page</title>
    <link rel="stylesheet" href="css/style2.css">
</head>
<body>
    
    <div class="mainscreen">
       
        
        
 <!--   <img src="https://image.freepik.com/free-vector/purple-background-with-neon-frame_52683-34124.jpg"  class="bgimg " alt="">--> 
          <div class="card">
            
            <div class="leftside">
              <img
                src="https://www.cms.gov/About-CMS/Agency-Information/OMH/Images/redesign/images/CCM-Homepage/product-ordering/3col-CMS-CCM-Product-Ordering-150.png"
                class="product"
                alt="Shoes"
              />
            </div>
            
            <a href="/"><i class=" fa-solid fa-house"></i> </a>
            <div class="rightside">
                
              <form action="">
                
                <h1>CheckOut</h1>
                <h2>Payment Information</h2>
                <p>Cardholder Name</p>
                <input type="text" class="inputbox" name="name" required />
                <p>Card Number</p>
                <input type="number" class="inputbox" name="card_number" id="card_number" required />
    
                <p>Card Type</p>
                <select class="inputbox" name="card_type" id="card_type" required>
                  <option value="">--Select a Card Type--</option>
                  <option value="Visa">Visa</option>
                  <option value="RuPay">RuPay</option>
                  <option value="MasterCard">MasterCard</option>
                </select>

    <div class="expcvv">
    
                <p class="expcvv_text">Expiry</p>
                <input type="date" class="inputbox" name="exp_date" id="exp_date" required />
    
                <p class="expcvv_text2">CVV</p>
                <input type="password" class="inputbox" name="cvv" id="cvv" required />
            </div>
                <p></p>
               <button id="button" onclick="alert( 'Thanks for Ordering & using Talk n Shop' )" type="submit"class="button" required><a href="/" >Buy Now</a> </button>
              </form>
            </div>
           <a href="/"> <button  class="button">Continue Shopping </button><i class="fa-solid fa-cart-shopping"></i>
          </div>
          
        </div>
      
       
    
      
    <script src="/public/script.js"></script>
<body class="bgc">
    <header class=""></header>


    <nav>
        <div class="logo">Talk N Shop</div>
        <ul>
            <li><button class="menu-btn " onclick="location.href='/'">continue shopping <i 
                        class="fa-solid fa-cart-shopping"></i></button>
            </li>

        </ul>
    </nav>
    </nav>


    </header>


    <h1 class=" h1c">Thanks for Ordering. <i class="fa-solid fa-truck-fast"></i></h1>



    <!-- Footer -->
    <div class="footer">

        <br><br><br>
        Copyright @TalknShop | 2022
    </div>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="script.js">
    </script>

</body>
</html>
