<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>talk n shop</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="css/styles1.css">
    <script src="https://kit.fontawesome.com/71609d30f9.js" crossorigin="anonymous"></script>
</head>

<body class="bgc">
    <header class=""></header>


    <nav>
        <div class="logo">Welcome to<span class="spanc"> Fashion!</span></div>
        <ul>
            <li>
                <form class="forms" action="/search">
                    <input class="forms-input" type="text" name="query" placeholder="Search" required />
                    <button class="btn"> <i class="fa-brands fa-searchengin"></i></button>

                </form>
            </li>
            <li><a href="/">Home</a></li>
            <li>
                <div class="dropdown-menu">
                    <button class="menu-btn ">Products </button>
                    <div class="menu-contents">
                        <a class="links-hidden" href="/fashion">Fashion</a>
                        <a class="links-hidden" href="/food">Food</a>
                        <a class="links-hidden" href="/electronics">Electronics</a>
                    </div>
            </li>

            <li><a href="/signup">Login/signup</a></li>

        </ul>
    </nav>
    </nav>


    </header>
    <h1 class="h1c">Explore your best fits </h1>

    <div class="product-container">
        <div class="product-card">
            <div class="product-image">
                <span class="discount-tag">50% off</span>
                <img src="https://m.media-amazon.com/images/I/71f9l3ZLpHL._UY550_.jpg" class="product-thumb" alt="">
                <button onclick="location.href='/checkout'" class="card-btn">Buy Now!</button>
            </div>
            <div class="product-info">
                <h2 class="product-brand">sweatshirt </h2>

                <span class="price">Rs500</span><span class="actual-price">Rs1000</span>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <span class="discount-tag">50% off</span>
                <img src="https://m.media-amazon.com/images/I/71nOfgRqK-L._UL1500_.jpg" class="product-thumb" alt="">
                <button onclick="location.href='/checkout'" class="card-btn">Buy Now!</button>
            </div>
            <div class="product-info">
                <h2 class="product-brand">shirt</h2>

                <span class="price">Rs500</span><span class="actual-price">Rs1000</span>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <span class="discount-tag">50% off</span>
                <img src="https://assets.vogue.in/photos/5e4e602d7ac63000082c7c8e/3:4/w_858,h_1144,c_limit/deepika%20padukone%20jeans.jpg" class="product-thumb" alt="">
                <button onclick="location.href='/checkout'" class="card-btn">Buy Now!</button>
            </div>
            <div class="product-info">
                <h2 class="product-brand">women jeans</h2>

                <span class="price">Rs500</span><span class="actual-price">Rs1000</span>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <span class="discount-tag">50% off</span>
                <img src="https://assets.myntassets.com/dpr_1.5,q_60,w_400,c_limit,fl_progressive/assets/images/18074940/2022/8/22/8584129c-8cac-4b34-b010-af9b59472ec71661161712924-Levis-Men-Jeans-8261661161712319-1.jpg" class="product-thumb" alt="">
                <button onclick="location.href='/checkout'" class="card-btn">Buy Now!</button>
            </div>
            <div class="product-info">
                <h2 class="product-brand">men jeans</h2>

                <span class="price">Rs500</span><span class="actual-price">Rs1000</span>
            </div>
        </div>


    </div>

    <div class="product-container">
        <div class="product-card">
            <div class="product-image">
                <span class="discount-tag">50% off</span>
                <img src="https://5.imimg.com/data5/QZ/VJ/FA/SELLER-27399423/crop-top-250x250.jpeg" class="product-thumb" alt="">
                <button onclick="location.href='/checkout'" class="card-btn">Buy Now!</button>
            </div>
            <div class="product-info">
                <h2 class="product-brand">women top</h2>

                <span class="price">Rs500</span><span class="actual-price">Rs1000</span>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <span class="discount-tag">50% off</span>
                <img src="https://ciceroni.in/Lounge/wp-content/uploads/2020/08/Untitled-design-3.png" class="product-thumb" alt="">
                <button onclick="location.href='/checkout'" class="card-btn">Buy Now!</button>
            </div>
            <div class="product-info">
                <h2 class="product-brand">kids wear</h2>

                <span class="price">Rs500</span><span class="actual-price">Rs1000</span>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <span class="discount-tag">50% off</span>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTVZc6RdTfvzKhA2XTMCkVyW09x-_9SBl2yhw&usqp=CAU" class="product-thumb" alt="">
                <button onclick="location.href='/checkout'" class="card-btn">Buy Now!</button>
            </div>
            <div class="product-info">
                <h2 class="product-brand">Kids wear</h2>

                <span class="price">Rs500</span><span class="actual-price">Rs1000</span>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <span class="discount-tag">50% off</span>
                <img src="https://rukminim1.flixcart.com/image/332/398/l16rde80/cap/r/y/3/free-new-stylish-baseball-combo-cap-pack-of-2-blutech-original-imagct73tz7myfnh.jpeg?q=50" class="product-thumb" alt="">
                <button onclick="location.href='/checkout'" class="card-btn">Buy Now!</button>
            </div>
            <div class="product-info">
                <h2 class="product-brand">Caps</h2>

                <span class="price">Rs500</span><span class="actual-price">Rs1000</span>
            </div>
        </div>


    </div>




    <!-- Footer -->
    <div class="footer">

        <br><br><br>
        Copyright @TalknShop | 2022
    </div>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="script.js"></script>
</body>

</html>