<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Talk N Shop</title>
  <link rel="stylesheet" type="text/css" href="css/styles1.css">
  <script src="https://kit.fontawesome.com/71609d30f9.js" crossorigin="anonymous"></script>
</head>

<body>
  <section id="login" class="logIn">
    <form>
      <h3 id="heading">Login Here</h3>


      <input type="text" placeholder="Email or Phone" id="usernameL">


      <input type="email" placeholder="Email Adress / Phone Number" id="email">


      <input type="password" placeholder="Create Password" id="password">
      <input type="password" placeholder="Password" id="passwordL">


      <button id="button">Login</button>

      <div id="buttonT" onclick="location.href='/signup'">Sign Up</div>

      <div class="ctn">
        <div class="go"> <a href="/"><i class=" fa-solid fa-house"> home</i> </a></div>
      </div>



      <div class="social">
        <div class="go"><i class="fa-brands fa-google"></i> Google</div>
        <div class="fb"><i class="fa-brands fa-square-facebook"></i> Facebook</div>
    </form>

  </section>


  <!-- Footer -->
  <div class="footer">
    Copyright @TalknShop | 2022
  </div>
  <script src="https://apis.google.com/js/platform.js" async defer></script>

  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <script src="/app.js"></script>


</body>

</html>