<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>search results</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="css/styles1.css">
    <script src="https://kit.fontawesome.com/71609d30f9.js" crossorigin="anonymous"></script>
</head>

<body class="bgc">
    <header class=""></header>


    <nav>
        <a href="/">
            <div class="logo">Talk N Shop</div>
        </a>

        <ul>
            <li>
                <form class="forms" action="/search">
                    <input class="forms-input" type="text" name="query" placeholder="Search" required />
                    <button class="btn"> <i class="fa-brands fa-searchengin"></i></button>

                </form>
            </li>
            <li><a href="/">Home</a></li>
            <li>
                <div class="dropdown-menu">
                    <button class="menu-btn ">Products </button>
                    <div class="menu-contents">
                        <a class="links-hidden" href="/fashion">Fashion</a>
                        <a class="links-hidden" href="/food">Food</a>
                        <a class="links-hidden" href="/electronics">Electronics</a>
                    </div>
            </li>

            <li><a href="/signup">Login/signup</a></li>

        </ul>
    </nav>
    </nav>


    </header>


    <h1 class="h1c">Your Search Results.<i class="fa-solid fa-square-poll-vertical"></i></h1>

    <div class="product-container">
    <div class="product-card">
        <div class="product-image">
            <span class="discount-tag">50% off</span>
            <img src="https://m.media-amazon.com/images/I/71f9l3ZLpHL._UY550_.jpg" class="product-thumb" alt="">
            <button onclick="location.href='/checkout'" class="card-btn">Buy Now!</button>
        </div>
        <div class="product-info">
            <h2 class="product-brand">sweatshirt </h2>

            <span class="price">Rs500</span><span class="actual-price">Rs1000</span>
        </div>
    </div>
    <div class="product-card">
            <div class="product-image">
                <span class="discount-tag">10% off</span>
                <img src="https://image01.realme.net/general/20220711/1657521687391.png.webp" class="product-thumb"
                    alt="">
                <button onclick="location.href='/checkout'" class="card-btn">Buy Now!</button>
            </div>
            <div class="product-info">
                <h2 class="product-brand">smart watch</h2>

                <span class="price">2000Rs</span><span class="actual-price">4000Rs</span>
            </div>
        </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag">10% off</span>
                    <img src="https://www.haldirams.com/media/catalog/product/cache/e0f2a41d8b7a0fa5626b9201a6cf0006/s/o/soan-papdi-250g-frontv1.jpg"
                        class="product-thumb" alt="">
                    <button onclick="location.href='/checkout'" class="card-btn">Buy Now!</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Son Papdi</h2>
    
                    <span class="price">300rs</span><span class="actual-price">400rs</span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag">50% off</span>
                    <img src="https://m.media-amazon.com/images/I/71nOfgRqK-L._UL1500_.jpg" class="product-thumb" alt="">
                    <button onclick="location.href='/checkout'" class="card-btn">Buy Now!</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">shirt</h2>
    
                    <span class="price">Rs500</span><span class="actual-price">Rs1000</span>
                </div>
            </div>



    
    <!-- Footer -->
    
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="script.js">
    </script>

</body>

</html>