<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>talk n shop</title>
  <link rel="stylesheet" href="/public/css/styles1.css">
  <script src="https://kit.fontawesome.com/71609d30f9.js" crossorigin="anonymous"></script>
</head>

<body>
  <nav>
    <a href="/">
      <div class="logo">Talk N Shop</div>
    </a>
    <ul>
      <li>
        <form class="forms" action="/search">
          <input class="forms-input" type="text" name="query" placeholder="Search" required />
          <button class="btn"> <i class="fa-brands fa-searchengin"></i></button>

        </form>
      </li>

      </form>
      </li>

      <li>
        <div class="dropdown-menu">
          <button class="menu-btn ">About </button>
          <div class="menu-content">
            <a class="links-hidden" href="#about">About Us</a>
            <a class="links-hidden" href="#services">services</a>
            <a class="links-hidden" href="/checkout">Cart</a>

          </div>
      </li>
      </form>
      </li>

      <li>
        <div class="dropdown-menu">
          <button class="menu-btn ">Products </button>
          <div class="menu-content">
            <a class="links-hidden" href="/food">Food</a>
            <a class="links-hidden" href="/electronics">Electronics</a>
            <a class="links-hidden" href="/fashion">Fashion</a>
          </div>
      </li>
      <li><a href="#feedback">Feedback</a></li>
      <li><a href="/signup">Login/signup</a></li>

    </ul>
  </nav>
  </nav>


  <section id="login" class="logIn">
    <form class="formss">
      <h3 id="heading">Sign Up Here</h3>


      <input type="text" placeholder="Your Name" id="username">
      <input type="text" placeholder="Email or Phone" id="usernameL">


      <input type="email" placeholder="Email Adress / Phone Number" id="email">


      <input type="password" placeholder="Create Password" id="password">
      <input type="password" placeholder="Password" id="passwordL">
      <fieldset id="radio">
        <p class="radio">
          Buyer<input type="radio" name="cat" id="radio" required>
          seller<input type="radio" name="cat" id="radio" required>
        </p>
      </fieldset>


      <button id="button">Sign Up</button>

      <div id="buttonT">Log In</div>
      <a href="/">
        <div id="buttonT">
          <div class="go"><i class=" fa-solid fa-house"> home</i></div>
        </div>
      </a>


      <div class="social">
        <div class="go"><i class="fa-brands fa-google"></i> Google</div>
        <div class="fb"><i class="fa-brands fa-square-facebook"></i> Facebook</div>
    </form>
    </div>

  </section>
  <div class="about-section" id="about">
    <h1>About Us</h1>

  </div>

  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <div class="container">
          <h2>Lakshya Raj Singh</h2>

        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <h2>Aman Chaudhary</h2>

      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <h2>Asmi Ahirrao</h2>

    </div>
  </div>
  </div>
  <div class="column">
    <div class="card">
      <h2>Nilay Rawal</h2>

    </div>
  </div>
  </div>
  <div class="column">
    <div class="card">
      <h2>Abhay Verma</h2>

    </div>
  </div>
  </div>
  </div>



  <!-- product -->
  <section class="best-selling-product-section" id="services">
    <h1 class="section-title">Our Services</h1>
    <div class="product-container">
      <div class="product-card">
        <img src="public/product/localbusiness.jpg" class="product-img" alt="">
        <p class="product-name">LOCAL BUSINESS SUPPORT </p>
      </div>
      <div class="product-card">
        <img src="public/product/transparency.jpg" class="product-img" alt="">
        <p class="product-name">MORE TRANSPARENCY</p>
      </div>
      <div class="product-card">
        <img src="public/product/exposure.jpg" class="product-img" alt="">
        <p class="product-name">EXPOSURE FOR TALENT</p>
      </div>
      <div class="product-card">
        <img src="public/product/fingertips.jpg" class="product-img" alt="">
        <p class="product-name"> VARIOUS SERVICES ON YOUR FINGERTIPS</p>
      </div>
      <div class="product-card">
        <img src="public/product/small.png" class="product-img" alt="">
        <p class="product-name"> SUPPORTING SMALL SCALE BUSINESS
        </p>
      </div>
      <div class="product-card">
        <img src="public/product/creative.jpg" class="product-img" alt="">
        <p class="product-name"> SELLING WITH MORE CREATIVITY </p>
      </div>
    </div>


    <!--Mid Section  -->
    <section class="mid-section">
      <div class="section-item-container">
        <img src="public/theme/theme3.jpg" class="section-bg" alt="">
        <div class="section-info">
          <h1 class="title">premium quality in <span>affordable</span> price</h1>
          <p class="info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis consequuntur
            praesentium impedit eum magnam aut.</p>
        </div>
      </div>
    </section>
    <!-- Login / Signup -->

    <!-- image collage section -->
    <section class="image-mid-section">
      <div class="image-collage">
        <div class="image-collection">
          <img src="public/theme/premium1.jpg" class="collage-img" alt="">
          <img src="public/theme/premium2.jpg" class="collage-img" alt="">
          <img src="public/theme/premium3.jpg" class="collage-img" alt="">
        </div>
      </div>
    </section>




    <!-- Brand Of Company -->
    <div id="brandSection">
      <img src="public/company/1.jpg" alt="">
      <img src="public/company/2.jpg" alt="">
      <img src="public/company/3.png" alt="">
      <img src="public/company/4.png" alt="">
    </div>


    </div>
    <!-- Feedback -->
    <div class="FeedbackSection" id="feedback">
      <form action="/feedback" method="post">
        <h3 id="heading">Please Provide your Feedbacks Here </h3>


        <input type="text" placeholder="Your Name" id="username" name="name">
        <input type="email" placeholder="Email Address" id="email" name="email">
        <input type="text" placeholder="Your Feedback goes here . . ." cols="40" rows="10" name="issue">

        <button class="button" id=" button submit" type="submit">Submit</button>
      </form>
    </div>
  </section>

  </div>


  <!-- Footer -->
  <div class="footer">
    Copyright @TalknShop | 2022
  </div>
  <script src="/public/script.js"></script>
  <script src="https://apis.google.com/js/platform.js" async defer></script>

  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <script src="/app.js"></script>


</body>

</html>