<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Talk N Shop</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/style1.css">
    <script src="https://kit.fontawesome.com/71609d30f9.js" crossorigin="anonymous"></script>
</head>

<body >
  <nav>
    <a href="/">
      <div class="logo">Talk N Shop</div>
    </a>
    <ul>
      <li>
        <form class="forms" action="/search">
          <input class="forms-input" type="text" name="query" placeholder="Search" required />
          <button class="btn"> <i class="fa-brands fa-searchengin"></i></button>

        </form>
      </li>

      </form>
      </li>

      <li>
        <div class="dropdown-menu">
          <button class="menu-btn ">About </button>
          <div class="menu-content">
            <a class="links-hidden" href="#about">About Us</a>
            <a class="links-hidden" href="#services">services</a>
            <a class="links-hidden" href="/checkout">Cart</a>

          </div>
      </li>
      </form>
      </li>

      <li>
        <div class="dropdown-menu">
          <button class="menu-btn ">Products </button>
          <div class="menu-content">
            <a class="links-hidden" href="/food">Food</a>
            <a class="links-hidden" href="/electronics">Electronics</a>
            <a class="links-hidden" href="/fashion">Fashion</a>
          </div>
      </li>
      <li><a href="#feedback">Feedback</a></li>
      <li><a href="/signup">Login/signup</a></li>

    </ul>
  </nav>
  </nav>

  <section id="login" class="logIn">
  <form>
    <h3 id="heading">Sign Up Here</h3>


    <input type="text" placeholder="Your Name" id="username">
    <input type="text" placeholder="Email or Phone" id="usernameL">


    <input type="email" placeholder="Email Adress / Phone Number" id="email">


    <input type="password" placeholder="Create Password" id="password">
    <input type="password" placeholder="Password" id="passwordL">


    <button id="button">Sign Up</button>

    <div id="buttonT">Log In</div>
    <a href="index.html">
      <div class="ctn" id="buttonT"><div class="go"><i class=" fa-solid fa-house"> home</i></div></div>
    </a>


    <div class="social">
      <div class="go"><i class="fa-brands fa-google"></i> Google</div>
      <div class="fb"><i class="fa-brands fa-square-facebook"></i> Facebook</div>
  </form>
  </div>

</section>

  <!-- Footer -->
  <div class="footer">
    Copyright @TalknShop | 2022
  </div>
  <script src="/public/script.js"></script>
  <script src="https://apis.google.com/js/platform.js" async defer></script>

  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <script src="/app.js"></script>


</body>

</html>