.logIn {
  background-color: black;
  height: 100vh;
  width: 98vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formss {
  height: 70vh;
  width: 60vw;
  background-color: rgba(255, 255, 255, 0.13);
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  padding: 30px 35px;
}
.formss * {
  font-family: "Poppins", sans-serif;
  color: white;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}
.formss h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

label {
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}
input {
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.02);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 20px;
  font-size: 14px;
  font-weight: 300;
}
::placeholder {
  color: #e5e5e5;
}
fieldset{
  height: 5vh;
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.02);
  border-radius: 3px
  

}
.radio{
  width: 2vw;
  
  display:flex;
  padding-left:50px;
  margin-top:-10px ;
  margin-bottom:15px ;
  justify-content: center;
 align-items: center;
}
/* sign Up */
/*username */

#username {
  display: block;
}
#username.signUp {
  display: none;
}

#usernameL {
  display: none;
}
#usernameL.signUp {
  display: block;
}

/* email */
#email {
  display: block;
}

#email.signUp {
  display: none;
}

/* Password */
#password {
  display: block;
}
#password.signUp {
  display: none;
}

#passwordL {
  display: none;
}
#passwordL.signUp {
  display: block;
}

button {
  margin-top: 25px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}
button:hover {
  background-color: white;
  color: black;
}
#buttonT {
  cursor: pointer;
  width: 100%;
  align-items: center;
  align-items: center;
  padding: 1vh;
  margin: 0 auto;
  color: whiteSmoke;
}
.social {
  margin-top: -3vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social div {
  background: red;
  width: 200px;
  height: 35px;
  border-radius: 3px;
  padding: 5px 10px 10px 5px;
  background-color: rgba(255, 255, 255, 0.27);
  color: #eaf0fb;
  text-align: center;
}
.social div:hover {
  background-color: rgba(255, 255, 255, 0.47);
}
.social .fb {
  margin-left: 2vw;
}

.social i {
  margin-right: 4px;
  padding-top: 3px;
  font-size: 20px;
}

.footer {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 90px;
  padding-top: 3rem;
  color: #e5e5e5;
  background-color: black;
  font-family: "Poppins", sans-serif;
  text-align: center;
}
